rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{allPaths=**} {
      // This rule allows users to read any file in their bucket.
      allow read: if request.auth != null && request.auth.uid == userId;
    }
  }
}
